@import "codemirror/lib/codemirror.css";

////////////////////////////////////////////////////////////////////////////////
// Component base
////////////////////////////////////////////////////////////////////////////////
.text-editor {
	display: flex;
  flex-direction: row;
	width: 300px;
	height: calc(100vh - 35px);
  max-height: 100vh;
	padding-bottom: 48px;
}

.code-mirror {
  width: 300px !important;
  height: 100% !important;
  background: #1e1e1e;
  color: #d4d4d4;
  font-family: monospace;
  font-size: 14px;
  border: none;
  outline: none;
}

.code-mirror .CodeMirror-scroll {
  background: #1e1e1e !important;
  color: #d4d4d4 !important;
  padding: 10px !important;
  font-family: monospace;
  font-size: 14px;
}

.code-mirror .CodeMirror-gutters {
  background: #1e1e1e;
  border: none;
}

.code-mirror .CodeMirror-cursor {
  border-left: 1px solid #d4d4d4;
}

.code-mirror .cm-keyword {
  color: var(--brand-primary-30) !important;
  font-weight: bold;
}

.code-mirror .cm-atom {
  color: var(--highlight-dark) !important;
}

.code-mirror .cm-comment {
  color: var(--gray-50) !important;
  font-style: italic;
}

.text-editor .CodeMirror-selected {
  background: var(--brand-primary-10);
}